In [1]:
import pandas as pd
import numpy as np
df = pd.DataFrame({"Person":
                   ["John", "Myla", "Lewis", "John", "Myla"],
                   "Age": [24., np.nan, 21., 33, 26],
                   "Single": [False, True, True, True, False]})
df

  Person   Age  Single
0   John  24.0   False
1   Myla   NaN    True
2  Lewis  21.0    True
3   John  33.0    True
4   Myla  26.0   False

In [2]:
import pandas as pd
import numpy as np
df = pd.DataFrame({"Person":
                   ["John", "Myla", "Lewis", "John", "Myla"],
                   "Age": [24., np.nan, 21., 33, 26],
                   "Single": [False, True, True, True, False]})
df.count()

Person    5
Age       4
Single    5
dtype: int64

In [3]:
import pandas as pd
import numpy as np
df = pd.DataFrame({"Person":
                   ["John", "Myla", "Lewis", "John", "Myla"],
                   "Age": [24., np.nan, 21., 33, 26],
                   "Single": [False, True, True, True, False]})
df.count(axis='columns')

0    3
1    2
2    3
3    3
4    3
dtype: int64

In [5]:
import pandas as pd
import numpy as np
df = pd.DataFrame({"Person":
                   ["John", "Myla", "Lewis", "John", "Myla"],
                   "Age": [24., np.nan, 21., 33, 26],
                   "Single": [False, True, True, True, False]})
df.set_index(["Person", "Single"]).count(level="Person")

        Age
Person
John      2
Lewis     1
Myla      1