In [1]:
import pandas as pd 
import numpy as np

In [2]:
df = pd.DataFrame({"A": [1, 2, 3], "B": [4, 5, 6]})
df.rename(columns={"A": "a", "B": "c"})

   a  c
0  1  4
1  2  5
2  3  6

In [3]:
df.rename(index={0: "x", 1: "y", 2: "z"})

   A  B
x  1  4
y  2  5
z  3  6

In [6]:
df.rename(str.lower, axis='columns')

   a  b
0  1  4
1  2  5
2  3  6

In [7]:
df.rename({1: 2, 2: 4}, axis='index')

   A  B
0  1  4
2  2  5
4  3  6