In [1]:
import pandas as pd    
df = pd.DataFrame({"A":[8, 2, 7, 12, 6],   
                   "B":[26, 19, 7, 5, 9],    
                   "C":[10, 11, 15, 4, 3],   
                   "D":[16, 24, 14, 22, 1]})     
df

    A   B   C   D
0   8  26  10  16
1   2  19  11  24
2   7   7  15  14
3  12   5   4  22
4   6   9   3   1

In [2]:
# If axis = 0 is not specified, then by default method return the mean over the index axis   
df.mean(axis = 0)

A     7.0
B    13.2
C     8.6
D    15.4
dtype: float64

In [3]:
import pandas as pd   
df = pd.DataFrame({"A":[5, 2, 6, 4, None],   
                   "B":[12, 19, None, 8, 21],   
                   "C":[15, 26, 11, None, 3],  
                   "D":[14, 17, 29, 16, 23]}) 
df

     A     B     C   D
0  5.0  12.0  15.0  14
1  2.0  19.0  26.0  17
2  6.0   NaN  11.0  29
3  4.0   8.0   NaN  16
4  NaN  21.0   3.0  23

In [4]:
# while finding mean, it skip null values   
df.mean(axis = 1, skipna = True)

0    11.500000
1    16.000000
2    15.333333
3     9.333333
4    15.666667
dtype: float64