Syntax:
DataFrame.apply(func, axis=0, broadcast=None, raw=False, reduce=None, result_type=None, args=(), **kwds)

In [1]:
import pandas as pd
df = pd.DataFrame([[4, 9]] * 3, columns=['A', 'B'])
df

   A  B
0  4  9
1  4  9
2  4  9

In [4]:
import pandas as pd
import numpy as np
df = pd.DataFrame([[4,9]] * 3, columns=['a','b'])
df.apply(np.sqrt)

     a    b
0  2.0  3.0
1  2.0  3.0
2  2.0  3.0

In [5]:
import pandas as pd
import numpy as np
df = pd.DataFrame([[8,9]]*3, columns=['a','b'])
df.apply(np.sum, axis=0)

a    24
b    27
dtype: int64

In [7]:
import pandas as pd
import numpy as np
df = pd.DataFrame([[9,5]] * 3, columns=['a','b'])
df.apply(np.sum, axis=1)

0    14
1    14
2    14
dtype: int64

In [2]:
import pandas as pd
df = pd.DataFrame([[9,5]] * 3, columns=['a','b'])
df.apply(lambda x: [1, 2], axis=1)

0    [1, 2]
1    [1, 2]
2    [1, 2]
dtype: object

In [3]:
import pandas as pd
df = pd.DataFrame([[9,5]] * 3, columns=['a','b'])
df.apply(lambda x: [1, 2], axis=1, result_type='expand')

   0  1
0  1  2
1  1  2
2  1  2

In [4]:
import pandas as pd
df = pd.DataFrame([[9,5]] * 3, columns=['a','b'])
df.apply(lambda x: pd.Series([1, 2], index=['foo', 'bar']), axis=1)

   foo  bar
0    1    2
1    1    2
2    1    2

In [5]:
import pandas as pd
df = pd.DataFrame([[9,5]] * 3, columns=['a','b'])
df.apply(lambda x: [1, 2], axis=1, result_type='broadcast')

   a  b
0  1  2
1  1  2
2  1  2