In [1]:
# The below code shows how to create an empty DataFrame in Pandas:
import pandas as pd  
df = pd.DataFrame()  
print (df)

Empty DataFrame
Columns: []
Index: []

In [2]:
# Create a DataFrame using List:
import pandas as pd  
x = ['Python', 'Pandas'] # a list of strings  
df = pd.DataFrame(x) # Calling DataFrame constructor on list   
df

        0
0  Python
1  Pandas

In [3]:
# Create a DataFrame from Dict of ndarrays/ Lists
import pandas as pd  
info = {'ID' :[101, 102, 103],'Department' :['B.Sc','B.Tech','M.Tech',]}  
df = pd.DataFrame(info)  
df

    ID Department
0  101       B.Sc
1  102     B.Tech
2  103     M.Tech

In [5]:
# Create a DataFrame from Dict of Series:
import pandas as pd  
info = {'one' : pd.Series([1, 2, 3, 4, 5, 6], index=['a', 'b', 'c', 'd', 'e', 'f']),  
        'two' : pd.Series([1, 2, 3, 4, 5, 6, 7, 8], index=['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h'])}  
d1 = pd.DataFrame(info)  
d1

   one  two
a  1.0    1
b  2.0    2
c  3.0    3
d  4.0    4
e  5.0    5
f  6.0    6
g  NaN    7
h  NaN    8

In [6]:
# Column Selection
import pandas as pd  
info = {'one' : pd.Series([1, 2, 3, 4, 5, 6], index=['a', 'b', 'c', 'd', 'e', 'f']),  
   'two' : pd.Series([1, 2, 3, 4, 5, 6, 7, 8], index=['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h'])}  
d1 = pd.DataFrame(info)  
d1 ['one']

a    1.0
b    2.0
c    3.0
d    4.0
e    5.0
f    6.0
g    NaN
h    NaN
Name: one, dtype: float64

In [7]:
# Column Addition
import pandas as pd  
info = {'one' : pd.Series([1, 2, 3, 4, 5], index=['a', 'b', 'c', 'd', 'e']),  
   'two' : pd.Series([1, 2, 3, 4, 5, 6], index=['a', 'b', 'c', 'd', 'e', 'f'])}  
df = pd.DataFrame(info)  
# Add a new column to an existing DataFrame object   
print ("Add new column by passing series")  
df['three']=pd.Series([20,40,60],index=['a','b','c'])  
print (df)  
print ("Add new column using existing DataFrame columns")  
df['four']=df['one']+df['three']  
df

Add new column by passing series
   one  two  three
a  1.0    1   20.0
b  2.0    2   40.0
c  3.0    3   60.0
d  4.0    4    NaN
e  5.0    5    NaN
f  NaN    6    NaN
Add new column using existing DataFrame columns

   one  two  three  four
a  1.0    1   20.0  21.0
b  2.0    2   40.0  42.0
c  3.0    3   60.0  63.0
d  4.0    4    NaN   NaN
e  5.0    5    NaN   NaN
f  NaN    6    NaN   NaN

In [8]:
# Column Deletion:
import pandas as pd  
  
info = {'one' : pd.Series([1, 2], index= ['a', 'b']),   
   'two' : pd.Series([1, 2, 3], index=['a', 'b', 'c'])}  
     
df = pd.DataFrame(info)  
print ("The DataFrame:")  
print (df)  
  
# using del function  
print ("Delete the first column:")  
del df['one']  
print (df)  
# using pop function  
print ("Delete the another column:")  
df.pop('two')  
df

The DataFrame:
   one  two
a  1.0    1
b  2.0    2
c  NaN    3
Delete the first column:
   two
a    1
b    2
c    3
Delete the another column:

Empty DataFrame
Columns: []
Index: [a, b, c]

=> Row Selection, Addition, and Deletion

In [9]:
# Row Selection
import pandas as pd  
info = {'one' : pd.Series([1, 2, 3, 4, 5], index=['a', 'b', 'c', 'd', 'e']),   
   'two' : pd.Series([1, 2, 3, 4, 5, 6], index=['a', 'b', 'c', 'd', 'e', 'f'])}  
df = pd.DataFrame(info)  
df.loc['b']

one    2.0
two    2.0
Name: b, dtype: float64

In [10]:
# Selection by integer location
import pandas as pd  
info = {'one' : pd.Series([1, 2, 3, 4, 5], index=['a', 'b', 'c', 'd', 'e']),  
   'two' : pd.Series([1, 2, 3, 4, 5, 6], index=['a', 'b', 'c', 'd', 'e', 'f'])}  
df = pd.DataFrame(info)  
df.iloc[3]

one    4.0
two    4.0
Name: d, dtype: float64

In [11]:
# Slice Rows
import pandas as pd  
info = {'one' : pd.Series([1, 2, 3, 4, 5], index=['a', 'b', 'c', 'd', 'e']),   
   'two' : pd.Series([1, 2, 3, 4, 5, 6], index=['a', 'b', 'c', 'd', 'e', 'f'])}  
df = pd.DataFrame(info)  
df[2:5]

   one  two
c  3.0    3
d  4.0    4
e  5.0    5

In [12]:
# Addition of rows
import pandas as pd  
d = pd.DataFrame([[7, 8], [9, 10]], columns = ['x','y'])  
d2 = pd.DataFrame([[11, 12], [13, 14]], columns = ['x','y'])  
d = d.append(d2)  
d

    x   y
0   7   8
1   9  10
0  11  12
1  13  14

In [14]:
# Deletion of rows
import pandas as pd  
  
a_info = pd.DataFrame([[4, 5], [6, 7]], columns = ['x','y'])  
b_info = pd.DataFrame([[8, 9], [10, 11]], columns = ['x','y'])  
  
a_info = a_info.append(b_info)  
  
# Drop rows with label 0  
a_info = a_info.drop(0) 
a_info

    x   y
1   6   7
1  10  11