Syntax: DataFrame.aggregate(func, axis=0, *args, **kwargs)

In [2]:
import pandas as pd
import numpy as np
info=pd.DataFrame([[1,5,7],[10,12,15],[18,21,24],[np.nan,np.nan,np.nan]],columns=['X','Y','Z'])  
info.agg(['sum','min'])

        X     Y     Z
sum  29.0  38.0  46.0
min   1.0   5.0   7.0

In [3]:
import pandas as pd 
import numpy as np
df = pd.DataFrame([[1, 2, 3],
                   [4, 5, 6],
                   [7, 8, 9],
                   [np.nan, np.nan, np.nan]],
                  columns=['A', 'B', 'C'])
df.agg({'A' : ['sum', 'min'], 'B' : ['min', 'max']})

        A    B
max   NaN  8.0
min   1.0  2.0
sum  12.0  NaN

In [4]:
import pandas as pd 
import numpy as np
df = pd.DataFrame([[1, 2, 3],
                   [4, 5, 6],
                   [7, 8, 9],
                   [np.nan, np.nan, np.nan]],
                  columns=['A', 'B', 'C'])
df.agg("mean", axis="columns")

0    2.0
1    5.0
2    8.0
3    NaN
dtype: float64