In [2]:
# example1
import pandas as pd
s = pd.Series(["a", "b", "c"],  
name="values")  
s.to_frame()

  values
0      a
1      b
2      c

In [5]:
# example2
import pandas as pd   
import matplotlib.pyplot as plt     
emp = ['Parker', 'John', 'Smith', 'William']   
id = [102, 107, 109, 114]     
emp_series = pd.Series(emp)   
id_series = pd.Series(id)     
frame = { 'Employee': emp_series, 'ID': id_series }   
result = pd.DataFrame(frame)
result

  Employee   ID
0   Parker  102
1     John  107
2    Smith  109
3  William  114